body {
	height: 100vh;
	background-image: url("./images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	padding: 50px 0px;
}

.container .pokemons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 700px;
	padding: 40px 20px;

	justify-content: center;
	margin: auto;
	gap: 20px;
}

.container .pokemons .pokemon {
	box-sizing: border-box;
	width: 80px;
	height: 84px;
	border: 3px solid white;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
	transform: skew(-12deg, 0);
	background-color: #383838;
	/* 넘치는 자식 태그를 가려줌 */
	overflow: hidden;
}

/* 실제 HTML 요소에 직접적으로 일치하지 않고 요소의 특정 상태, 위치를 기반으로 적용 */
.container .pokemons .pokemon:hover {
	transform: skew(-12deg,0) scale(1.2);
	background-color: #ff9c00;
}

.container .pokemons .pokemon .image {
	position: relative;
	/*포켓몬 이미지 이동. 기준선 right으로부터 13px만큼 밀어낸다*/
	right: 13px;
	width: 140%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90px;
	transform: skew(12deg, 0);
}

/* :nth-child(n) 부모 요소의 자식들 중, 형제 요소 내에서 순서가 n번째인 요소 선택 */
.container .pokemons .pokemon:nth-child(1) .image {
	background-image: url("./images/pokemon1.png");
}
.container .pokemons .pokemon:nth-child(2) .image {
	background-image: url("./images/pokemon2.png");
}
.container .pokemons .pokemon:nth-child(3) .image {
	background-image: url("./images/pokemon3.png");
}
.container .pokemons .pokemon:nth-child(4) .image {
	background-image: url("./images/pokemon4.png");
}
.container .pokemons .pokemon:nth-child(5) .image {
	background-image: url("./images/pokemon5.png");
}
.container .pokemons .pokemon:nth-child(6) .image {
	background-image: url("./images/pokemon6.png");
}
.container .pokemons .pokemon:nth-child(7) .image {
	background-image: url("./images/pokemon7.png");
}
.container .pokemons .pokemon:nth-child(8) .image {
	background-image: url("./images/pokemon8.png");
}
.container .pokemons .pokemon:nth-child(9) .image {
	background-image: url("./images/pokemon9.png");
}
.container .pokemons .pokemon:nth-child(10) .image {
	background-image: url("./images/pokemon10.png");
}
.container .pokemons .pokemon:nth-child(11) .image {
	background-image: url("./images/pokemon11.png");
}
.container .pokemons .pokemon:nth-child(12) .image {
	background-image: url("./images/pokemon12.png");
}
.container .pokemons .pokemon:nth-child(13) .image {
	background-image: url("./images/pokemon13.png");
}
.container .pokemons .pokemon:nth-child(14) .image {
	background-image: url("./images/pokemon14.png");
}
.container .pokemons .pokemon:nth-child(15) .image {
	background-image: url("./images/pokemon15.png");
}
.container .pokemons .pokemon:nth-child(16) .image {
	background-image: url("./images/pokemon16.png");
}
.container .pokemons .pokemon:nth-child(17) .image {
	background-image: url("./images/pokemon17.png");
}
.container .pokemons .pokemon:nth-child(18) .image {
	background-image: url("./images/pokemon18.png");
}
.container .pokemons .pokemon:nth-child(19) .image {
	background-image: url("./images/pokemon19.png");
}
.container .pokemons .pokemon:nth-child(20) .image {
	background-image: url("./images/pokemon20.png");
}
.container .pokemons .pokemon:nth-child(21) .image {
	background-image: url("./images/pokemon21.png");
}
.container .pokemons .pokemon:nth-child(22) .image {
	background-image: url("./images/pokemon22.png");
}
.container .pokemons .pokemon:nth-child(23) .image {
	background-image: url("./images/pokemon23.png");
}
.container .pokemons .pokemon:nth-child(24) .image {
	background-image: url("./images/pokemon24.png");
}
.container .pokemons .pokemon:nth-child(25) .image {
	background-image: url("./images/pokemon25.png");
}
.container .pokemons .pokemon:nth-child(26) .image {
	background-image: url("./images/pokemon26.png");
}
.container .pokemons .pokemon:nth-child(27) .image {
	background-image: url("./images/pokemon27.png");
}
.container .pokemons .pokemon:nth-child(28) .image {
	background-image: url("./images/pokemon28.png");
}
.container .pokemons .pokemon:nth-child(29) .image {
	background-image: url("./images/pokemon29.png");
}
.container .pokemons .pokemon:nth-child(30) .image {
	background-image: url("./images/pokemon30.png");
}
.container .pokemons .pokemon:nth-child(31) .image {
	background-image: url("./images/pokemon31.png");
}
.container .pokemons .pokemon:nth-child(32) .image {
	background-image: url("./images/pokemon32.png");
}


.container .logo {
	max-width: 400px;
	margin: auto;
}

/* img는 클래스가 아니라 태그임!! 주의*/
.container .logo img {
	width: 100%;
}